@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Roboto:wght@400;500;700&display=swap');

body {
    margin:0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: #f9f8f8;
}

#page_mask { 
    display: none;
    background: rgba(0, 0, 0, 0.63);
    position: fixed;
    inset: 0px;
    z-index: 998;
}

.menu_section {

}

#login_btn {

}

.sing_in_btn {
    border: 1px solid #dedede;
    padding: 15px;
    width: fit-content;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 100px;
    margin-top: 35px;
    margin-bottom: 35px;
    background:#afadad;
    color: #fff;
    border: 1px solid #7e7a7a94
}

.sing_in_btn:hover {
    background: blue;
    color: #fff;
    cursor: pointer;
}

.login_form { 
    display: none;
    height: 381px; 
    width: 360px; 
    position: absolute; 
    left: 50%; 
    margin-left: -230px; 
    top: 20%; 
    z-index: 999; 
    background: rgb(255, 255, 255); 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 3px;
    border-radius: 5px;
    padding: 40px; 
    transition: visibility 1s ease 0s, opacity 0.5s ease-out 0s; 
}

#lform {

}

.login_header {
    font-size: 1.3rem; 
    font-weight: bolder; 
    margin-top: -15px; 
    text-align: center; 
    margin-bottom: 7px; 
    line-height: 1.5; 
    color: rgb(41, 41, 41); 
    font-family: sans-serif;
}

.form_logo {

}

#error_msg {
    opacity: 0;
    color:red;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
}

#apply-form {

}

.login_input {
    width: 94%; 
    padding: 15px 10px; 
    border: 1px solid rgb(214, 214, 214); 
    margin-bottom: 13px; 
    font-size: 1.1rem; 
    border-radius: 3px; 
    box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 5px inset;
}

.cont_btn {
    font-family: sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out 0s, transform 150ms ease 0s;
    appearance: none;
    width: 100%;
    background: rgb(63 162 125);
    color: rgb(255, 255, 255);
    border: 2px solid #000;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 7px;
}

.extra_login_features {
    display: flex; 
    justify-content: space-between; 
    margin-top: 19px; 
    padding-left: 1px; 
    padding-right: 1px; 
    font-size: 0.9rem;
}

#remember_me {
    color: rgb(153, 153, 153); 
}

#forgot_pass {
    color: rgb(29, 191, 115); 
    text-decoration: none; 
}

.not_member { 
    border-top: 1px solid rgb(224, 224, 224); 
    padding-top: 30px; 
    margin-top: 36px; 
    margin-left: -40px; 
    margin-right: -40px; 
    text-align: center; 
    color: rgb(62, 62, 62); 
    font-weight: 400; 
    font-size: 1rem; 
}

.newjoin { 
    color: rgb(33 102 242); 
}

.plans_section {
    
}

.plans_title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.plans_desc {
    text-align: center;
    font-size: 18px;
}

.plans_widgets {
    display: flex;
    justify-content: space-around;
    margin-top: 85px;
}

.plan_box {
    width: 300px;
    height: 300px;
    border: 3px solid #777373;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 3px 1px 0px #dedede;
    transition: 1s;
    cursor: pointer;
    background: #ebeaea;
}

.plan_header {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.plan_price {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.plan_features {

}

.feature_item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
}

.feature_item img {
    height: 30px;
    margin-right: 6px;
}

.selected {

}

.most_popular {
    text-align: center;
    margin: -30px;
    background: #dedede;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(51, 54, 236);
    color: #fff;
    font-weight: 600;

}
